/* .row:not(#personal) > div {
    background-color:#e1bbfa;
    border: 2px solid #a66fcb;
    padding: 6px
} */

:root {
    --indigo-light : #ccaefb;
}
.row:has(label), .row:has(input) {
    background-color: var(--indigo-light); 
    border: 2px solid var(--bs-indigo);
    padding: 6px 0px;
}

.row:has(.nope) {
    background-color: transparent;
    border: none;
}


/* div:has(input) {
    border: 2px solid purple;
    padding: 2px
}  */

h5 {
    color:forestgreen;
}

#personal-head, #entry-head {
    background-color: var(--bs-indigo); /* #7610b9 */
    font-weight: 500;
    color:white;
    padding: 6px
}

/* .firstRow + .row {
    margin-top: 10px;
} */

/* .col-sm-2 {
    background-color:#e1bbfa
} */


.firstColumn, .lastColumn {
    width : 5%;
    max-width: 54px;
    
}


.brownies {
    background-color: chocolate
}

.avocado {
    background-color: greenyellow
}


@media (max-width: 767.98px) { 
    
    .firstColumn, .lastColumn {
        background-color: bisque !important;
        
        width: 300px
    }

      
 }

 @media (min-width: 768px) {
    input:not(.no-transparent)::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: transparent !important;
    }

    #cate-label, #orga-label {
        max-width: 128px;
    }

    .border-md-top-0 {
        border-top: none!important;
    }

 }